@import '../../styles/variables/colors/index.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  color: $secondary;
  background-color: $primary;

  border-bottom: 1px solid $secondary;

  height: 5.25rem;
  padding: 0.5rem 1rem;

  hgroup {
    h1 {
      font-size: 2.5rem;
      text-align: left;
    }
  }
}
