@import './variables/colors/index.scss';

@font-face {
  src: url(../../../assets/fonts/Raleway-Regular.ttf);
  font-family: 'elements';
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'elements', sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;

  color: $secondary;
  background-color: $primary
}
